apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodeapp-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodeapp
  template:
    metadata:
      labels:
        app: nodeapp
  spec:
    containers:
      - name: nodeapp
        image: nodeapp:1.0   # You will build this locally
        ports:
        - containerPort: 3000
        envFrom:
        - configMapRef:
            name: nodeapp-config
        - secretRef:
            name: nodeapp-secret
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10