name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r app/requirements.txt

    - name: Run tests
      run: |
        pytest

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.REGISTRY_USERNAME }}/python-cicd:${{ github.sha }} .

    - name: Login to Docker Hub
      run: |
        echo ${{ secrets.REGISTRY_PASSWORD }} | docker login -u ${{ secrets.REGISTRY_USERNAME }} --password-stdin

    - name: Push Docker image
      run: |
        docker push ${{ secrets.REGISTRY_USERNAME }}/python-cicd:${{ github.sha }}
