name: Deploy to Production

on:
  workflow_dispatch:   # requires manual approval

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to Production Server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.PROD_HOST }}
        username: ${{ secrets.PROD_USER }}
        key: ${{ secrets.PROD_SSH_KEY }}
        script: |
          docker pull ${{ secrets.REGISTRY_USERNAME }}/python-cicd:${{ github.sha }}
          docker stop pythonapp || true
          docker rm pythonapp || true
          docker run -d -p 3000:3000 --name pythonapp ${{ secrets.REGISTRY_USERNAME }}/python-cicd:${{ github.sha }}
